/* Font Styles */
.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
}

/* Root Styles */
:root {
    /* Color Codes */
    --off-black: #1A1A19;
    --off-white: #FAFAFA;
    --pastel-green-light: #D6EFD8;
    --pastel-green: #80AF81;
    --pastel-green-dark: #508D4E;
    --shadow: #1A1A1985;

    /* Fonts */
    --fs-header: 1.5rem;
    --fs-sub-header: 1.25rem;
    --fs-small-text: 0.875rem;
    
    --fw-semi-bold: 600;
    --fw-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--off-white);
    color: var(--off-black)
}

/* Navigation Bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--off-black);
    height: 4rem;
    padding: 0 1rem;

    position: sticky;
    top: 0;
}

header a {
    text-decoration: none;
}

nav {
    display: none;
}

.nav-left p {
    color: var(--off-white);
    text-decoration: none;
}

.my-name {
    font-size: 1.35rem;

}

.my-work {
    font-size: 0.85rem;
}

header ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-link {
    margin-left: 1rem;
}

nav ul li a:hover {
    color: var(--pastel-green);
}

header ul a {
    color: var(--off-white);
}

.current-page {
    border-bottom: 0.15rem solid var(--off-white);
}

/* Hamburger Menu - Close */
.mobile {
    display: block;
    margin: auto 0;
    cursor: pointer;
}

.mobile div {
    width: 35px;
    height: 3px;
    background-color: var(--off-white);
    margin: 6px 0;
    transition: 0.3s;
}

.mobile-menu {
    display: block;
    position: absolute;
    top: 4rem;
    right: 0;
    height: 8rem;
    width: 100vw;
}

.mobile-menu li {
    margin-top: 0.5em;
}

.mobile-menu a {
    display: none;
    text-align: center;
}

/* Hamburger Menu - Open */
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-5px, 5px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--pastel-green-dark);
    border-bottom: 0.1rem solid var(--off-white);

    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform-origin: top center;
}

.open .mobile-menu a {
    display: block;
}

/* Global Styles */
.container {
    outline: 1px solid red;

    margin: 0 auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.make-green {
    color: var(--pastel-green-dark);
}

.header {
    font-size: var(--fs-header);
}

.sub-header {
    font-size: var(--fs-sub-header);
    font-weight: var(--fw-semi-bold);
}

.full {
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

/* Hero */
.hero img {
    width: 160px;
}

.intro-name {
    font-size: 2rem;
    font-weight: var(--fw-bold);
    padding-top: 1rem;
}

.intro-title {
    font-weight: var(--fw-semi-bold);
}

.intro-question {
    text-align: center;
    padding-top: 1rem;
}

.intro-answer {
    font-weight: var(--fw-bold);
    padding-top: 1rem;
}

/* Services */
.services {
    text-align: center;
    background-color: var(--pastel-green-light);
    /* width: 100vw; */
}

.services img {
    width: 80vw;
}

.service {
    padding-bottom: 1.5rem;
}

.samples img {
    min-height: 250px;
    max-height: 448px;
    width: 90vw;
    overflow: hidden;
    object-fit: cover;
    padding-bottom: 1rem;
}

.projects-page-cta {
    font-size: var(--fs-small-text);
}

.projects-page-cta a,
.projects-page-cta a:visited {
    color: var(--off-black);
}

/* Media Queries */
@media (min-width: 720px) {
    nav {
        display: block;
    }

    .mobile {
        display: none;
    }
}