/* Font Styles */
.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
}

:root {
    /* Color Codes */
    --off-black: #1A1A19;
    --off-white: #FAFAFA;
    --pastel-green-light: #D6EFD8;
    --pastel-green: #80AF81;
    --pastel-green-dark: #508D4E;

    /* Root Styles */
    font-size: 16px;

    --fs-header: 1.5rem;
    --fs-sub-header: 1.25rem;
    --fs-small-text: 0.875rem;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: var(--off-white);
}

#nav-bar,
footer {
    padding-left: 10vw;
    padding-right: 10vw;
}

#nav-bar {
    background-color: var(--off-black);
    height: 4rem;
    position: sticky;
    top: 0;
}

.my-name {
    font-size: 1.6rem;
    margin: 0;
}

.my-work {
    font-size: var(--fs-small-text);
    margin: 0;
}

#nav-bar > div > a:visited,
#nav-bar > div > a {
    color: var(--off-white);
    text-decoration: none;
}

#nav-bar > div > a:hover {
    color: var(--pastel-green);
}

.nav-right {
    display: flex;
    gap: 3rem;
}

#container > div {
    outline: 1px solid red;
    border: 1px solid red;
    justify-content: center;
}

#nav-bar,
footer {
    display: flex;
    outline: 2px solid red;
    justify-content: space-between;
}

#nav-bar {
    align-items: center;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7rem auto;
}

.hero-top {
    display: grid;
    grid-template-columns: 9rem auto;
    grid-template-rows: 1fr 1fr;
}

.my-image {
    width: 9rem;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    align-self: center;
}

.make-green {
    color: var(--pastel-green-dark);
}

.intro-name {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    font-size: 3.5rem;
    justify-self: start;
    margin: 0 0 0 1rem;
    align-self: end;
    font-weight: 700;
}

.intro-title {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size: 2rem;
    justify-self: start;
    align-self: start;
    font-weight: 600;
    margin: 0.5rem 0 0 1rem;
}


.hero-bottom {
    width: auto;
    margin: 1rem auto;
}

.hero-bottom > p {
    margin: 0;
    font-size: 1.2rem;
}

.service-answer {
    justify-self: end;
    color: var(--pastel-green-dark);
    font-weight: 600;
}

#services {
    display: flex;
    flex-direction: column;
    background-color: var(--pastel-green-light);
    align-items: center;
}

.header {
    font-size: var(--fs-header);
    font-weight: 700;
}

#service-container {
    display: flex;
    gap: 2rem;
}

.service {
    width: 22rem;
    outline: 1px solid red;
}

.service-title,
.service-description {
    margin: 0.5rem 1rem;
}

.service-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.service-description {
    font-size: var(--fs-small-text);
}

.service-image {
    height: 12.5rem;
    width: 22rem;
    object-fit: cover;
}

#my-work {
    text-align: center;
}

.my-work-cta {
    font-size: var(--fs-small-text);
}

#contact {
    background-color: var(--pastel-green);
    color: var(--off-white);
    text-align: center;
}

.footer-left {
    display: flex;
    flex-direction: column;
}